@media only screen and (max-width: 820px){
    header #menuToggle{
        visibility: visible;
        top: 20px;
    }
    header nav ul li a{
        visibility: hidden;
    }
    header nav ul li a image{
        visibility: hidden;
    }
    header #menu{
        display: flex;
        flex-direction: column;

    }
}