*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


header .logo{
  position: absolute;
  left: calc(50% - 40px);
  top: 16px;
}
header{
  padding: 5px 0;
  border-radius: 0;

}
.container{
  margin: auto;
  max-width: 1070px;

}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul{
  list-style: none;
  display: flex;
}
header nav  ul li a{
  margin-right: 28px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  text-decoration: none;
}
header ul{
  align-items: center;
}
header ul li a img{
  padding-right: 20px;
}
.main_banner{
  background-color: #F0EFEB;
}
.sec_vol1{
  display: flex;
  align-items: center;
}
main article h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  color: #000000;
  padding-bottom: 42px;
}
main article p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 33px;
}
.shop{
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 7px 23px 9px 23px;
}
.best_sellers{
  background: #FFFFFF;
  background-size: cover;
  padding-bottom: 50px;
}
.best_sellers h2:first-of-type{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 27px;
}
.our{
  padding-top: 88px;
  padding-bottom: 52px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  text-align: center;
}
.best_sellers p:first-of-type{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: center;
  max-width: 640px;
  margin: auto;
  padding-bottom: 47px;
}
.best_sellers p:last-of-type{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: center;
}
section article h5{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 17px;
}
.text_shop{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}
.pic_in_sec{
  display: flex ;
  justify-content: center;
  align-items: center;

}
.pic_pad{
  padding-right: 30px;
}
section article span{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-bottom: 10px;
}
section article a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.owl-item{
  text-align: center;
}
.owl-carousel .owl-item img{
  max-width: 1070px;

}
.owl-stage{
  display: flex;
  align-items: center;
}
.owl-nav .owl-prev{
  position: absolute;
  left: -35px;
  top: 210px;
}

.owl-nav .owl-prev:before{
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: #000000;
  font-size: 50px;
}

.owl-nav .owl-next{
  position: absolute;
  right: -35px;
  top: 210px;
}

.owl-nav .owl-next:before{
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: #000000;
  font-size: 50px;
  transform: rotate(180deg);
  display: inline-block;
}
.ui-widget.ui-widget-content{
  background-color: black;
}

.owl-dots{
  position: relative;
  justify-content: center;
  display: flex;
  bottom: 0;
  top: 50px;
  padding-bottom: 45px;
}
.owl-dots span{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #343434;
  border-radius: 50%;
  margin-right: 15px;
}

.owl-dots .active span{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #7700a6;
  border-radius: 50%;
}
.sec2_main{
  background: #F0EFEB;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.sec2_img{
  max-width: 100%;

}
.sec2_div{
  display: flex;
  align-items: flex-start;
}
.sec2_main h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 31px;
}
.sec2_main p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-left: 50px;
  padding-bottom: 31px;
  max-width: 500px;
}
.sec2_main a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  padding-left: 50px;
  padding-bottom: 31px;
}
.sec3_main{
  background: rgba(204, 204, 204, 0.6);
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.sec3_div{
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.sec3_main h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 31px;
}
.sec3_main p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-right: 50px;
  padding-bottom: 31px;
  max-width: 500px;
}
.sec3_main a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  padding-right: 50px;
  padding-bottom: 31px;
}
.text_al{
  text-align: end;
}
.sec4_main{
  background: #FFFFFF;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.sec4_main h4{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-top: 140px;
  padding-bottom: 70px;
}
.sec4_main span{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.span_color{
  display: flex;
  flex-wrap: wrap;
}
.sec4_main .span_color img{
  padding-bottom: 111px;

}

.sec5_main{
  background: #F0F0F0;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 30px;
}
.sec5_main h3{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.sec5_im{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_art{
  max-width: 100%;
  padding-right: 100px;
}
.sec5_main h3{
  padding-top: 80px;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.sec5_main p:first-of-type{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
  padding-top: 35px;
  padding-bottom: 40px;
}
.sec5_main p:last-of-type{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.sec5_main a{
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.sec6_main{
  background-color: #E5E5E5;
  padding-top: 25px;
  padding-bottom: 25px;
}
.sec6_main h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding-bottom: 9px;
  padding-top: 35px;
}
.sec6_main p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.div_name{
  max-width: 160px;
  margin: auto;
}
.sec6_main form .div_name label{
  display: none;
}
.sec6_main form .div_name input{
  border: 1px solid #000000;
  border-radius: 0px;
}