*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header .logo{
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
}
header{
    padding: 5px 0;
    border-radius: 0;

}
.container{
    margin: auto;
    max-width: 1070px;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
}
header nav ul li a{
    margin-right: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header ul{
    align-items: center;
}
header ul li a img{
    padding-right: 20px;
}
.main_banner{
    background-color: #F0EFEB;
}
.sec_vol1{
    display: flex;
    align-items: center;
}
main article h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    color: #000000;
    padding-bottom: 42px;
}
main article p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 33px;
}
.shop{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 23px 9px 23px;
}
.best_sellers{
    background: #FFFFFF;
    background-size: cover;
    padding-bottom: 50px;
}
.best_sellers h2:first-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 27px;
}
.our{
    padding-top: 88px;
    padding-bottom: 52px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: center;
}
.best_sellers p:first-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    max-width: 640px;
    margin: auto;
    padding-bottom: 47px;
}
.best_sellers p:last-of-type{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}
section article h5{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 17px;
}
.text_shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.pic_in_sec{
    display: flex ;
    justify-content: center
}
.pic_pad{
    padding-right: 30px;
}
section article span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
}
section article a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}

